<html ng-app="listaTelefonica">
<head>
	<meta charset="UTF-8">
	<title>Lista Telefonica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
	<style>
		.jumbotron{
			width: 400px;
			text-align: center;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
		}
		.table{
			margin-top: 20px;
		}
		.form-control{
			margin-bottom: 5px;
		}
		.selecionado{
			background-color: yellow; 
		}
		.negrito{
			font-weight: bold;
		}
	</style>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-messages.js"></script>
	<script>
		angular.module("listaTelefonica", ["ngMessages"]);
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope) {
			$scope.app = "Lista Telefonica";
			$scope.contatos = [
				{nome: "João", telefone: "9999-8888", cor: "blue"},
				{nome: "Ana", telefone: "9999-8888", cor: "yellow"},
				{nome: "José", telefone: "9999-8888", cor: "red"}
			];
			$scope.operadoras = [
				{nome:"Oi", codigo: 14, categoria: "Celular"},
				{nome:"Vivo", codigo: 15, categoria: "Celular"},
				{nome:"Tim", codigo: 41, categoria: "Celular"},
				{nome:"GVT", codigo: 25, categoria: "Fixo"},
				{nome:"Embratel", codigo: 21, categoria: "Fixo"}
			];
			$scope.adicionarContato = function(contato) {
				$scope.contatos.push(angular.copy(contato));
				delete $scope.contato;
				$scope.contatoForm.$setPristine();
			};
			$scope.apagarContatos = function(contatos) {
				$scope.contatos = contatos.filter(function(contato) {
					if(!contato.selecionado) return contato;
				});
			};
			$scope.isContatoSelecionado = function(contatos) {
				return contatos.some(function(contato){
					return contato.selecionado;
				});
			};
		});
	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		<table class="table" ng-if="contatos.length > 0">
			<tr>
				<th></th>
				<th>Nome</th>
				<th>Telefone</th>
				<th>Operadora</th>
				<th></th>
			</tr>
			<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
				<th> <input type="checkbox" ng-model="contato.selecionado"/></th>
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome}}</td>
				<td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
			</tr>
		</table>
		<hr/>
		<form name="contatoForm">
			<input class="form-control" type="text" placeholder="Nome" ng-required= "true" ng-model="contato.nome" 
				ng-minlength="3" name="nome"/>
			<input class="form-control" type="text" placeholder="Telefone" ng-required= "true" ng-model="contato.telefone" 
					ng-pattern="/^\d{4,5}-\d{4}$/" name="telefone"/>
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras">
				<option value="">Selecione uma operadora</option>
			</select>
		</form>
		<div ng-messages="contatoForm.nome.$error">
			<div class="alert alert-danger" ng-message="required && contatoForm.telefone.$dirty"> 
				Por favor, preencha o campo nome!
			</div>
			<div class="alert alert-danger" ng-message="minlength"> 
				O campo nome deve ter no mínimo 3 caracteres.
			</div>
		</div>
		<div ng-messages="contatoForm.telefone.$error">
			<div class="alert alert-danger" ng-message="required && contatoForm.telefone.$dirty"> 
				Por favor, preencha o campo telefone!
			</div>
			<div class="alert alert-danger" ng-message="pattern"> 
				O campo telefone deve ter o formato DDDDD-DDDD
			</div>
		</div>
		<button class="btn btn-primary btn-block" ng-disabled="contatoForm.$invalid" 
				ng-click="adicionarContato(contato)">Adicionar Contato</button>
		<button class="btn btn-danger btn-block" ng-if="isContatoSelecionado(contatos)" 
				ng-click="apagarContatos(contatos)">Apagar Contatos</button>
	</div>
	<div ng-include="'footer.html'"></div>
</body>
</html>