<html ng-app="listaTelefonica">
<head>
	<meta charset="UTF-8">
	<title>Lista Telefonica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
	<style>
		.jumbotron{
			width: 600px;
			text-align: center;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
		}
		.table{
			margin-top: 20px;
		}
		.form-control{
			margin-bottom: 5px;
		}
		.selecionado{
			background-color: yellow; 
		}
		.negrito{
			font-weight: bold;
		}
		hr {
			border-color: #999;
		}
	</style>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-messages.js"></script>
	<script src="lib/angular/angular-locale_pt-br.js"></script>
	<script>
		angular.module("listaTelefonica", ["ngMessages"]);
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope, $filter, $http) {
			$scope.app = "Lista Telefonica";
			$scope.contatos = [];
			$scope.operadoras = [];

			var carregarContatos = function(){
				$http.get("http://localhost:3412/contatos").success(function(data){
					$scope.contatos = data;
				}).error(function(data, status) {
					$scope.message = "Aconteceu um problema: " + data;
					console.log($scope.message);
				});;
			};

			var carregarOperadoras = function(){
				$http.get("http://localhost:3412/operadoras").success(function(data){
					$scope.operadoras = data;
				});
			};

			$scope.adicionarContato = function(contato) {
				contato.data = new Date();
				$http.post("http://localhost:3412/contatos", contato).success(function(data){
					delete $scope.contato;
					$scope.contatoForm.$setPristine();
					carregarContatos();
				});
			};
			$scope.apagarContatos = function(contatos) {
				$scope.contatos = contatos.filter(function(contato) {
					if(!contato.selecionado) return contato;
				});
			};
			$scope.isContatoSelecionado = function(contatos) {
				return contatos.some(function(contato){
					return contato.selecionado;
				});
			};
			$scope.ordenarPor = function(campo) {
				$scope.criterioDeOrdenacao = campo;
				$scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao
			};

			carregarContatos();
			carregarOperadoras();
		});
	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Quem você está buscando?"/>
		<table class="table" ng-if="contatos.length > 0">
			<tr>
				<th></th>
				<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
				<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
				<th><a href="" ng-click="ordenarPor('operadora')">Operadora</a></th>
				<th><a href="" ng-click="ordenarPor('data')">Data</a></th>
				<th></th>
			</tr>
			<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
				<th> <input type="checkbox" ng-model="contato.selecionado"/></th>
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome | lowercase}}</td>
				<td>{{contato.data | date: 'dd/MM/yyyy hh:mm'}}</td>
			</tr>
		</table>
		<hr/>
		<form name="contatoForm">
			<input class="form-control" type="text" placeholder="Nome" ng-required= "true" ng-model="contato.nome" 
				ng-minlength="3" name="nome"/>
			<input class="form-control" type="text" placeholder="Telefone" ng-required= "true" ng-model="contato.telefone" 
					ng-pattern="/^\d{4,5}-\d{4}$/" name="telefone"/>
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome +'('+(operadora.preco | currency)+')' for operadora in operadoras | orderBy:'nome'">
				<option value="">Selecione uma operadora</option>
			</select>
		</form>
		<div ng-messages="contatoForm.nome.$error">
			<div class="alert alert-danger" ng-message="required && contatoForm.telefone.$dirty"> 
				Por favor, preencha o campo nome!
			</div>
			<div class="alert alert-danger" ng-message="minlength"> 
				O campo nome deve ter no mínimo 3 caracteres.
			</div>
		</div>
		<div ng-messages="contatoForm.telefone.$error">
			<div class="alert alert-danger" ng-message="required && contatoForm.telefone.$dirty"> 
				Por favor, preencha o campo telefone!
			</div>
			<div class="alert alert-danger" ng-message="pattern"> 
				O campo telefone deve ter o formato DDDDD-DDDD
			</div>
		</div>
		<button class="btn btn-primary btn-block" ng-disabled="contatoForm.$invalid" 
				ng-click="adicionarContato(contato)">Adicionar Contato</button>
		<button class="btn btn-danger btn-block" ng-if="isContatoSelecionado(contatos)" 
				ng-click="apagarContatos(contatos)">Apagar Contatos</button>
	</div>
	<div ng-include="'footer.html'"></div>
</body>
</html>